{
  "inbounds": [
    {
      "listen": null,
      "port": {{ xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {% for uuid in xray_uuids %}
            {
              "email": "{{ uuid }}",
              "flow": "xtls-rprx-vision",
              "id": "{{ uuid }}"
            }
            {% if not loop.last %}
              ,
            {% endif %}
          {% endfor %}
        ],
        "decryption": "none",
        "fallbacks": []
      },
      "streamSettings": {
        "network": "tcp",
        "realitySettings": {
          "dest": "{{ xray_fallback_proxy_target }}",
          "maxTimediff": 0,
          "privateKey": "{{ xray_private_key }}",
          "serverNames": ["{{ xray_sni }}"],
          "shortIds": [""],
          "show": false,
          "xver": 0
        },
        "security": "reality",
        "tcpSettings": {
          "acceptProxyProtocol": false,
          "header": {
            "type": "none"
          }
        }
      },
      "tag": "inbound-vless",
      "sniffing": {
        "enabled": false
      },
      "allocate": {
        "strategy": "always",
        "refresh": 5,
        "concurrency": 3
      }
    }
  ],
  "outbounds": [
    {
      "tag": "direct",
      "protocol": "freedom"
    },
    {
      "tag": "blocked",
      "protocol": "blackhole",
      "settings": {}
    }
  ],

  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "inboundTag": [
          "inbound-vless"
        ],
        "outboundTag": "blocked",
        "domain": [
          "geosite:category-ru"
        ]
      },
      {
        "inboundTag": [
          "inbound-vless"
        ],
        "outboundTag": "blocked",
        "ip": [
          "geoip:private",
          "geoip:ru"
        ]
      }
    ]
  },

  "log": {
    "access": "none",
    "dnsLog": false,
    "error": "/home/{{ xray_user }}/{{ xray_error_log_file_name }}",
    "loglevel": "warning",
    "maskAddress": ""
  }
}
