{
  "inbounds": [
    {
      "tag": "inbound",
      "listen": "0.0.0.0",
      "port": 1080,
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": false
      },
      "streamSettings": {
        "network": "raw",
        "security": "none"
      }
    }
  ],
  "outbounds": [
    {% for server_item in users_configs_servers | dict2items %}
      {% set users_configs_server_uuid = server_item.key %}
      {% set users_configs_server = server_item.value %}
      {% set server_index = loop.index %}

      {% for sni, fingerprint in users_configs_server.supported_snis | product(users_configs_server.fingerprints) %}
        {
            "protocol": "vless",
            "sendThrough": "0.0.0.0",
            "settings": {
                "vnext": [
                  {
                    "address": "{{ users_configs_server.host }}",
                    "port": {{ users_configs_server.port }},
                    "users": [
                      {
                        "id": "{{ users_configs_config_uuid }}",
                        "encryption": "none",
                        "flow": "{{ users_configs_server.flow }}",
                        "level": 0
                      }
                    ]
                  }
                ]
            },
            "tag": "outbound-vless-{{ server_index }}-{{ loop.index }}-{{ users_configs_server.name | urlencode }}",
            "streamSettings": {
                "network": "tcp",
                "security": "reality",
                "realitySettings": {
                    "fingerprint": "{{ fingerprint }}",
                    "serverName": "{{ sni }}",
                    "publicKey": "{{ users_configs_server.public_key }}",
                    "spiderX": "/&",
                    "shortId": ""
                }
            }
        },
      {% endfor %}
    {% endfor %}
    {
      "tag": "outbound-freedom",
      "protocol": "freedom"
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "domainMatcher": "hybrid",
    "rules": [
      {
        "inboundTag": [
          "inbound"
        ],
        "outboundTag": "outbound-freedom",
        "domain": [
          "geosite:category-ru",
          "geosite:microsoft"
        ]
      },
      {
        "inboundTag": [
          "inbound"
        ],
        "outboundTag": "outbound-freedom",
        "ip": [
          "geoip:private",
          "geoip:ru"
        ]
      },
      {
        "inboundTag": [
          "inbound"
        ],
        "balancerTag": "balancer"
      }
    ],
    "balancers": [
      {
        "tag": "balancer",
        "selector": [
          "outbound-vless"
        ],
        "strategy": {
          "type": "leastLoad",
          "settings": {}
        }
      }
    ]
  },
  "burstObservatory": {
    "subjectSelector":[
      "outbound"
    ],
    "pingConfig": {
      "destination": "https://connectivitycheck.gstatic.com/generate_204",
      "connectivity": "",
      "interval": "1h",
      "sampling": 3,
      "timeout": "30s"
    }
  }
}
