<!DOCTYPE html>
<html style="background-color: gray; display: flex; justify-content: center;">
<head>
    <title>Redirect Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const redirect = function (url) {
            window.location.href = url || "{{ frontman_default_redirect }}";
        };

        window.onload = function () {
            const hash = window.location.hash;

            if (hash) {
                const params = new URLSearchParams(hash.slice(1));
                const uuid = params.get('uuid') || hash.slice(1);
                const url = "/" + uuid + ".json";
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const redirectUrl = data["{{ frontman_instruction_url_field_name }}"] + window.location.hash;
                        if (redirectUrl) {
                            redirect(redirectUrl);
                        } else {
                            redirect();
                        }
                    })
                    .catch(() => redirect());
            } else {
                redirect();
            }
        };
    </script>
</head>
<body>
Redirecting...
</body>
</html>
