<!DOCTYPE html>
<html style="background-color: gray; display: flex; justify-content: center;">
<head>
    <title>Redirect Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const redirect = function (url) {
            window.location.href = url || "{{ frontman_default_redirect }}";
        };

        window.onload = function () {
            const hash = window.location.hash || window.location.pathname.slice(1) || localStorage.getItem('hash');

            if (hash) {
                localStorage.setItem('hash', hash);
                const url = new URL(`${window.location.origin}/${window.location.hash.substring(1)}`);
                const params = new URLSearchParams(url.search);
                const uuid = params.get('uuid') || hash.slice(1);
                const redirectUrl = "/" + uuid + ".json";
                fetch(redirectUrl)
                    .then(response => response.json())
                    .then(data => {
                        const redirectUrl = data["{{ frontman_instruction_url_field_name }}"];
                        if (redirectUrl) {
                            redirect(redirectUrl);
                        } else {
                            redirect();
                        }
                    })
                    .catch(() => redirect());
            } else {
                redirect();
            }
        };
    </script>
</head>
<body>
Redirecting...
</body>
</html>
