<!DOCTYPE html>
<html style="background-color: gray; display: flex; justify-content: center;">
<head>
    <title>Forbidden</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            color: #333;
            text-align: center;
            padding: 50px;
        }
        .container {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 40px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 8px;
        }
        h1 {
            color: #c0392b;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .note {
            font-size: 14px;
            color: #777;
        }
    </style>
    <script>
        window.onload = function () {
            const hash = window.location.hash || window.location.pathname.slice(1) || localStorage.getItem('hash');

            if (hash) {
                localStorage.setItem('hash', hash);
                const url = new URL(`${window.location.origin}/${window.location.hash.substring(1)}`);
                const params = new URLSearchParams(url.search);
                const uuid = params.get('uuid') || hash.slice(1);
                const configUrl = "/" + uuid + ".json";
                fetch(configUrl)
                    .then(response => response.json())
                    .then(data => {
                        const redirectUrl = data["{{ frontman_instruction_url_field_name }}"];
                        if (redirectUrl) {
                            window.location.href = redirectUrl;
                        }
                    });
            }
        };
    </script>
</head>
<body>
  <div class="container">
    <h1>Доступ ограничен</h1>
    <p>К сожалению, данный сервис недоступен на территории Российской Федерации.</p>
    <p>Ограничение введено во избежание нарушения федерального законодательства Российской Федерации.</p>
    <p class="note">Если вы считаете, что это ошибка, пожалуйста, свяжитесь с нашей службой поддержки.</p>
  </div>
</body>
</html>
