{
    "xray_client_config_url": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_client_xray_config_filename }}",
    "hiddify_url": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_hiddify_filename }}",
    "sock5_docker": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_socks5_docker_filename }}"
}
