{
    "xray_client_socks5_config_url": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_client_xray_config_socks5_filename }}",
    "xray_client_tproxy_config_url": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_client_xray_config_tproxy_filename }}",
    "hiddify_url": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_hiddify_filename }}",
    "sock5_docker": "{{ frontman_base_url }}/{{ frontman_config_uuid }}/{{ frontman_socks5_docker_filename }}"
}
